h3.contact-page-title {
    font-size: 32px;
    line-height: 32px;
    color: #363f4d;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .single-contact-block {
    padding-bottom: 8px;
    margin-bottom: 27px;
    border-bottom: 1px solid #e1e1e1;
  }
  .single-contact-block > h4 {
    margin-bottom: 23px;
  }
  .single-contact-block.last-child {
      border-bottom: none;
  }
  span.required {
    color: #ff0000; 
  }
  /*----------  contact form  ----------*/
  .contact-form .form-group {
    margin-bottom: 20px; 
  }
  .contact-form label {
    display: block;
    font-size: 15px;
    line-height: 29px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 20px;
  }
  .contact-form input {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    outline: none;
    border: 1px solid #e0e0e0;
    padding-left: 20px; 
  }
  .contact-form textarea {
    background-color: #ffffff;
    width: 100%;
    outline: none;
    border: 1px solid #e0e0e0;
    padding-left: 20px;
    line-height: 50px;
    height: 200px; 
  }
  .contact-form .li-btn-3 {
    background: #f2f2f2;
    line-height: 12px;
    display: inline-block;
    padding: 16px 30px;
    border-radius: 3px;
    color: #363f4d;
    font-weight: 500;
    font-size: 12px;
    background-color: #242424;
    border: 1px solid #242424;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
   .contact-form .li-btn-3:hover {
    background-color: #ee1616;
    color: #ffffff;
    background-color: #ee1616;
    border-color: #ee1616; 
  }
  .contact-page-side-content {
    background-color: #F2F2F2;
    padding: 25px 30px 19px;
  }